<ion-content>
    <div class="form-button">{{opened}}</div>
    <div id="mainButton" [ngClass]="opened ? 'active' : 'deactive'" src="../../assets/images/1.jpg" #mainButton>
      <div class="modal">
        <!-- <div class="close-button" (click)="changeValue()">X</div> -->
        <div class="form-title">incio de sesión</div>
        <div class="input-group">
          <input type="text" id="name" />
          <label for="name">Usuario</label>
        </div>
        <div class="input-group">
          <input type="password" id="password" />
          <label for="password">Contraseña</label>
        </div>
        <a class="form-button" [routerLink]="['/home']">inicio</a>
      </div>
    </div>

</ion-content>
