<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img src="http://himmel.es/images/image1.jpg" class="image1" />
    <a [routerLink]="['/login']">inicio</a>

  </div>
</ion-content>
